{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-1 center-align">Edit Food Category</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_food_category', food_category_id=food_category._id) }}">            
            <!-- food category name input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix teal-text text-darken-1"></i>
                    <input id="food_category_name" name="food_category_name" minlength="3" maxlength="25" 
                        type="text" value="{{ food_category.category_name }}" class="validate" required>
                    <label for="food_category_name">Food Category Name</label>
                </div>
            </div>                
                
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_food_categories') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large teal darken-1 text-shadow">
                        Edit Food Category<i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}