{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-1 center-align">Edit Food Item</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_food_item', food_item_id=food_item._id) }}">
            <div class="row">
                <!-- food item name input -->
                <span>
                    <div class="input-field col s4">
                        <i class="fas fa-pencil-alt prefix teal-text text-darken-1"></i>
                        <input id="item_name" name="item_name" minlength="3" maxlength="25" 
                            value="{{ food_item.item_name }}" type="text" class="validate" required>
                        <label for="item_name">Food Item Name</label>
                    </div>
                </span>
                <!-- food category selection -->
                <span>
                    <div class="input-field col s3">
                        <i class="fas fa-folder prefix teal-text text-darken-1"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled>Choose Category</option>
                            {% for food_category in food_categories %}
                                {% if food_category.category_name == food_item.category_name %}                                
                                    <option value="{{ food_category.category_name }}" selected>{{ food_category.category_name }}</option>
                                {% else %}
                                    <option value="{{ food_category.category_name }}">{{ food_category.category_name }}</option>
                                {% endif %}
                            {% endfor %}                        
                        </select>
                        <label for="category_name">Food Category</label>
                    </div>
                </span>
                <!-- stock input -->
                <span>
                    
                    <div class="input-field col s2">
                        <i class="fas fa-boxes-stacked prefix teal-text text-darken-1"></i>
                        <input id="in_stock" name="in_stock" minlength="1" maxlength="5" 
                            value="{{ food_item.in_stock }}"type="text" class="validate" required>
                        <label for="in_stock">In stock</label>
                    </div>
                    
                </span>
            </div>
            <div class="row">
                <!-- weight/quantity input-->
                <span>
                    <div class="input-field col s2">
                        <i class="fas fa-weight-hanging prefix teal-text text-darken-1"></i>
                        <input id="weight_or_quantity" name="weight_or_quantity" minlength="1" maxlength="4" 
                            value="{{ food_item.weight_or_quantity }}"type="number" class="validate" required>
                        <label for="weight_or_quantity">Weight/Quantity</label>
                    </div>
                </span>
                <!-- unit selection -->
                <span>
                    <div class="input-field col s2">
                        <i class="fas fa-weight-scale prefix teal-text text-darken-1"></i>
                        <select id="unit" name="unit" class="validate" required>
                            <option value="" disabled>Choose Unit</option>
                            {% for unit in units %}
                                {% if unit.unit_name == food_item.unit %}
                                    <option value="{{ unit.unit_name }}" selected>{{ unit.unit_name }}</option>
                                {% else %}
                                    <option value="{{ unit.unit_name }}">{{ unit.unit_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="unit">Units</label>
                    </div>
                </span>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large teal darken-1 text-shadow">
                        Edit Food Item <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}