{% extends "base.html" %}
{% block content %}

        <h3 class="teal-text text-darken-1 center-align">All Food Items</h3>

        <div class="row card-panel grey lighten-5">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        <i class="fas fa-search prefix teal-text text-darken-1"></i>
                        <input type="text" name="query" id="query" minlenght="3" class="validate" required>
                        <label for="query">Search Food Items</label>
                    </div>
                    <div class="col s12 m4">
                        <a href="{{ url_for('get_food_items') }}" class="red btn text-shadow">Reset</a>
                        <button type="submit" class="light-blue darken-1 btn text-shadow">
                            <i class="fas fa-search left"></i> Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        
        <ul class="collapsible popout">
            {% for food_item in food_items %}
            <li>
                <div class="row collapsible-header white-text teal darken-1 text-shadow">
                    <div class="col">                   
                        <span><i class="fas fa-caret-down"></i></span>   
                        <span><strong>{{ food_item.item_name }}</strong></span>
                        <span>Category: {{ food_item.category_name }}</span> 
                        <span>weight/quantity: {{ food_item.weight_or_quantity }}{{ food_item.unit }}</span>
                        <span>in stock: {{ food_item.in_stock }}</span>
                        <span>
                            <em>Food item created by: {{ food_item.created_by }}</em>
                        </span>
                        <span>
                            {% if food_item.low_stock %}
                                <i class="fas fa-exclamation-circle teal-text text-lighten-3"><span>LOW</span></i>
                            {% endif %}                        
                        </span>
                    </div>                    
                </div>
                {% if session.user %}
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col m4">                    
                            <span>
                                <a href="{{ url_for('delete_food_item', food_item_id=food_item._id) }}" class="waves-effect waves-light btn-small teal darken-1">Delete Item</a>
                            </span>
                            <span>
                                <a href="{{ url_for('edit_food_item', food_item_id=food_item._id) }}" class="waves-effect waves-light btn-small teal darken-1">Edit Item</a>
                            </span>
                        </div>
                        <div class="col m8">                    
                            <form method="POST" action="{{ url_for('increase_stock', food_item_id=food_item._id) }}">
                                <div class="input-field col s4">
                                    <input id="increase" name="increase" minlength="1" maxlength="6" type="number" class="validate">
                                    <label for="increase">No. of items</label>
                                    <button type="submit" class="waves-effect waves-light btn-large green darken-1">
                                        Increase Stock <i class="fas fa-plus-square right"></i>
                                    </button>                                    
                                </div>
                            </form>
                            <form method="POST" action="">
                                <div class="input-field col s4">                                    
                                    <input id="decrease" name="decrease" minlength="1" maxlength="6" type="number" class="validate">
                                    <label for="decrease">No. of items</label>
                                    <button type="submit" class="waves-effect waves-light btn-large red darken-1 ">
                                        Decrease Stock <i class="fas fa-minus-square right"></i>
                                    </button>                                    
                                </div>                          
                            </form>
                        </div>
                    </div>                    
                {% endif %}        
                </div>
            </li>
            {% endfor %}                   
        </ul>

{% endblock %}