{% extends "base.html" %}
{% block content %}

<h3 class="teal-text text-darken-1 center-align">Manage Food Categories</h3>

<div class="row"></div>
    <div class="col s12 center-align">
        <a href="{{ url_for('add_food_category') }}" class="btn-large teal darken-1 text-shadow">
            Add Category <i class="fas fa-plus-square right"></i>
        </a>
    </div>
<div class="row">
    {% for food_category in food_categories %}
    <div class="col s12 m3">
        <div class="card teal darken-1 center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ food_category.category_name }}</span>                
            </div>
            <div class="card-action">
                <a href="#" class="waves-effect waves-light btn green darken-1">Edit</a>
                <a href="#" class="waves-effect waves-light btn red darken-1">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}