{% extends "base.html" %}
{% block content %}
   
    
        <ul class="collapsible popout">
            {% for food_item in food_items %}
            <li>
                <div class="collapsible-header white-text teal darken-1 text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ food_item.item_name }}</strong> : {{ food_item.category_name }} : {{ food_item.weight_or_quantity }} : {{ food_item.in_stock }}
                </div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            {% endfor %}
           
        </ul>

{% endblock %}