{% extends "base.html" %}
{% block content %}
   
    
        <ul class="collapsible popout">
            {% for food_item in food_items %}
            <li>
                <div class="collapsible-header white-text teal darken-1 text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ food_item.item_name }}</strong> Category: {{ food_item.category_name }} weight/quantity: {{ food_item.weight_or_quantity }} in stock: {{ food_item.in_stock }}
                    {% if food_item.in_stock <= 10 %}
                        <i class="fas fa-exclamation-circle teal-text text-lighten-3"></i>LOW
                    {% endif %}


                </div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            {% endfor %}
           
        </ul>

{% endblock %}